<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hi I'm <strong>William Hu</strong>. Currently I am a student at UC Berkeley and have expertise with
              Angular, React, Python, and Java. I've done few personal projects and portfolio work that can be found
              below. I currently have a GPA of 3.9</p>


            <p>
              I love innovation and everything related to generating new knowledge. I enjoy facing new problems and solve
              them as soon as possible. I am very methodological and calculative about
              the time I spend on the work I do.
            </p>


          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">hubi@berkeley.edu</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+1 510 423 1076 (USA) </div>
              <div class="col-sm-4"></div>
              <div class="col-sm-8">+1 647 962 1168 (CAN) </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">2729 Dwight Way #201 </div>
              <div class="col-sm-4"></div>
              <div class="col-sm-8">Berkeley, CA, 94704 </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">English, French, Mandarin</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>