<div class="section" id="extracurriculum">
    <div class="container cc-extracurriculum">
        <div class="h4 text-center mb-4 title">ExtraCurriculum</div>

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        <div class="row">

            <ng-container *ngFor="let extra of extracurriculum| paginate: config">
                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <div class="card">
                            <img class="card-img-top" src={{extra.imgUrl}} onerror="this.src = 'assets/images/gif.gif'"
                                alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">{{extra.title}}</h4>
                                <p class="card-text">{{extra.desc}}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>